@media only screen and (max-width: 1024px){
  #titulo{
    font-size: 50px;
    right: 0;
    top: 5px;
  }
  #menu ul{
    right: 25px;
  }
  #menu li a{
    padding: 10px;
  }
  #sobre p{
    right: 0;
  }
  #barra_pesquisa input.form-control{
    left: 350px;
  }
  #barra_pesquisa button{
    left: 543px;
  }
}

@media only screen and (max-width: 768px) {
  header{
    position: fixed;
  }
  header.open-menu #menu-mobile{
    left: 0;
  }
  header #menu-mobile{
    position: fixed;
    left: -80%;
    transition: 1s;
    background-color: #fab1a0;
    width: 80%;
    height: 100%;
    z-index: 3;
  }
  header.open-menu #mask{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  header #menu-mobile li:first-child{
    font-family: 'Manifesto';
    font-size: 30px;
    color: #FFF;
    margin-bottom: 30px;
    border-bottom: 2px solid #FFF;
  }
  header #menu-mobile li{
    text-align: center;
    margin: 15px;
    color: #FFF;
  }
  header li:last-child{
    position: relative;
  }
  header #menu-mobile li a{
    font-family: 'WorkSans';
    font-size: 18px;
    border-bottom: 1px solid #fff;
    text-decoration: none;
    color: inherit;
  }
  header #menu-mobile li a:active{
    color: #ff7675;
  }
  header.open-menu #hot-dog{
    display: block;
    position: fixed;
    left: 83%;
    transition: 1s;
    transform: rotate(360deg);
  }
  header #pesquisa-mobile{
    font-family: 'WorkSans';
    margin-top: 25px;
    margin-bottom: 6px;
    font-size: 1rem;
    border: none;
    border-radius: .25rem;
    color: #000;
    outline-color: #636e72;
    width: 100%;
    height: 34px;
  }
  header #botao-pesquisa-mobile{
    color: #ff7675;
    background-color: #FFF;
    border-radius: .25rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 34px;
  }

  #menu {
    display: none;
  }
  #titulo{
    font-size: 45px;
    line-height: 1.0;
    top: 17px;
    left: 40%;
  }
  #hot-dog{
    display: block;
    font-size: 30px;
    color: #FFF;
    position: absolute;
    top: 10px;
    left: 0;
    background: none;
    border: none;
    transition: 1s;
    outline: 0;
  }
  #img{
    height: 400px;
  }
  #img-thumb{
    max-width: 200px;
    max-height: 300px;
    width: auto;
    height: auto;
  }
  #centralizar_thumbs{
    position: relative;
    text-align: center;
  }
  #produtos h3{
    font-family: 'WorkSans';
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    right: 0;
  }
  .background-efeito{
    width: auto;
  }
  .background-efeito.hover{
    background-color: #FFF;
  }
  .background-efeito.hover h3{
    color: #000;
  }
  #img-ela{
    max-width: 200px;
    max-height: 250px;
    width: auto;
    height: auto;
  }
  #sobre-ela{
    margin-top: 50px;
    margin-bottom: 100px;
  }
  /*
  #sobre div.nulo{
    position: absolute;
  }
  */
  #sobre div.row.ela{
    border: 2px solid #fcd7cf;
    position: relative;
    bottom: 75px;
    position: relative;
    right: 0;
  }
  #sobre p{
    font-family: 'WorkSans';
    text-align: center;
    margin: 35px auto;
    position: relative;
    top: 0;
    right: 0;
  }
  #rodape hr{
    right: 5px;
  }
}

@media only screen and (max-width: 480px) {
  header{
    position: absolute;
    height: 90px;
  }
  header.open-menu #menu-mobile{
    left: 0;
  }
  header #menu-mobile{
    position: fixed;
    left: -80%;
    transition: 1s;
    background-color: #fab1a0;
    width: 80%;
    height: 100%;
    z-index: 3;
  }
  header.open-menu #mask{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  header #menu-mobile li:first-child{
    font-family: 'Manifesto';
    font-size: 30px;
    color: #FFF;
    margin-bottom: 30px;
    border-bottom: 2px solid #FFF;
  }
  header #menu-mobile li{
    text-align: center;
    margin: 15px;
    color: #FFF;
  }
  header li:last-child{
    position: relative;
  }
  header #menu-mobile li a{
    font-family: 'WorkSans';
    font-size: 18px;
    border-bottom: 1px solid #fff;
    text-decoration: none;
    color: inherit;
  }
  header #menu-mobile li a:active{
    color: #ff7675;
  }
  header.open-menu #hot-dog{
    display: block;
    position: fixed;
    left: 83%;
    transition: 1s;
    transform: rotate(360deg);
  }
  header #pesquisa-mobile{
    font-family: 'WorkSans';
    margin-top: 25px;
    margin-bottom: 6px;
    font-size: 1rem;
    border: none;
    border-radius: .25rem;
    color: #000;
    outline-color: #636e72;
    position: relative;
    width: 100%;
    height: 34px;
  }
  header #botao-pesquisa-mobile{
    color: #ff7675;
    background-color: #FFF;
    border-radius: .25rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 34px;
    position: absolute;
    right: 0;
    top: 25px;
  }
  header #botao-pesquisa-mobile i{
    position: relative;
    bottom: 2px;
  }

  #menu {
    display: none;
  }
  #titulo{
    font-size: 45px;
    position: absolute;
    text-align: center;
    left: 0;
    top: 4px;
    padding-left: 65px;
    line-height: 1.0;
  }
  #hot-dog{
    display: block;
    font-size: 30px;
    color: #FFF;
    position: absolute;
    top: 10px;
    left: 5px;
    background: none;
    border: none;
    transition: 1s;
    outline: 0;
  }
  #img{
    height: 400px;
  }
  #img-thumb{
    max-width: 265px;
    max-height: 400px;
    width: auto;
    height: auto;
  }
  #centralizar_thumbs{
    position: relative;
    text-align: center;
  }
  #produtos h3{
    font-family: 'WorkSans';
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    right: 0;
  }
  .background-efeito{
    width: auto;
  }
  .background-efeito.hover{
    background-color: #FFF;
  }
  .background-efeito.hover h3{
    color: #000;
  }
  #img-ela{
    display: none;
  }
  #sobre-ela{
    margin-top: 50px;
    margin-bottom: 100px;
  }
  #sobre div.row.ela{
    border: 2px solid #fcd7cf;
    position: relative;
    bottom: 75px;
    position: relative;
    right: 0;
  }
  #sobre p{
    font-family: 'WorkSans';
    text-align: center;
    margin: 5px auto;
    position: relative;
    top: 0;
    right: 0;
  }
  #rodape{
    position: relative;
    height: 445px;
  }
  #rodape h4{
    text-align: center;
  }
  #rodape ul{
    text-align: center;
  }
}
